{% extends 'index.html' %}
{% block articletitle %}{% block title %}{{category.name}}{% endblock %}{% endblock %}
{% block tagline %}{{category.description}}{% endblock %}
{% block content %}
    {% for article in articles %}
    <a href="/articles/view/{{article.id}}">
        <h2>{{article.title}}</h2>
        <p>{{article.description}}</p>
    </a>
    {% endfor %}

{% endblock %}
{% block latestarticles %}{% endblock %}<!-- Latest Articles tab would be confusing and redundant in this case -->